<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Clayton's ICS3U CCT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="header">
      <h1>Clayton Russell</h1>
      <p>
        This is my ICS4U CCT Webpage! The nav bar below displays all of the lessons we have done during this course, 
        and when you click on each one, it takes you to the final project for the corresponding lesson. (If there was one)
      </p>
    </div>

    <nav
      class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://scratch.mit.edu/projects/512830685/">Scratch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/me50/26704/blob/7117b3672bfe41f8efba7ad975e407c8d6c61b2b/mario.c">C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/me50/26704/blob/6dc102c09acbf7c06827ab5d503633ea07dfa818/caesar.c">Arrays</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/me50/26704/blob/482cc30c7d1d35710a5742e237b4c2967ecf2757/binary.c">Algorithms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/me50/26704/blob/8b3335e4f9b69a7c33b44d7f5bc53ae127846642/fileio.c">Memory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/me50/26704/blob/7eccc8ac6ae0297308aa9c4b15f2a38c7eb441e0/mario.py">Python</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/spreadsheets.html">Databases</a>
        </li>
      </ul>
    </nav>
    <br />

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <h3 class="text-muted">About me</h3>
            <p>
              My name is Clayton Russell, I am 16 years old and am now a Junior
              at Our Lady of the Bay. I have been attending the school since
              grade nine. Last year I took ICS3U and it was one of my favorite
              courses, so this year I took ICS4U. It definetly was a fun and
              more challenging experience compared to last year. I currently
              live in
              <a
                href="https://www.google.com/maps/place/Wasaga+Beach,+ON/@44.51165,-80.1240595,12z/data=!3m1!4b1!4m5!3m4!1s0x882a80578282bf25:0x56e3cb1910ac4639!8m2!3d44.5207419!4d-80.0160668"
                ><i>Wasaga Beach</i></a
              >
              with my mom and step dad, and have lived here since I was eight
              years old. I have a cat named Marvin and a golden retriver puppy
              named Finn. We found out that our boxer Mia had cancer in her paw
              so we had to put her down during winter 2020. I have four brothers on my fathers side of the family,
              their names are Malachy, Lachlan, Wyatt, and Declan who are 13, 11, 3 and 1 year(s) old.
            </p>
            <img class="img-fluid" src="https://cdn.glitch.com/e76426f5-f525-4cf2-8f68-efb62cb425d8%2FIMG_1612.jpg?v=1617806431930" alt="Finn" width="460" height="345"> 
            <img class="img-fluid" src="https://cdn.glitch.com/e76426f5-f525-4cf2-8f68-efb62cb425d8%2FIMG_1011.JPG?v=1617806429538" alt="Wyatt & Declan" width="460" height="345"> 
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
